<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap-4.4.1.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<script>
		
	</script>
  </head>
<body style="background: #000000">
	<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background:#d4d4d4;font-weight: bold">
		  <a class="navbar-brand"  href="#">Cipher<span style="color:#4D1EF0 ">Chat</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"> <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item active"> <a class="nav-link" href="#">My Channels <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item active"><a class="nav-link" href="#">Browse Channels <span class="sr-only">(current)</span></a> </li>
			    <li class="nav-item active "> <a class="nav-link" href="#">My account <span class="sr-only">(current)&nbsp;</span></a> </li>
          </ul>
</div>
      </nav>
		
    </header>
<div style="color:white">
	<h1 class="center">Hello</h1>
</div>
	

	
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
	  <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap-4.4.1.js')}}"></script>
</body>
</html>
