<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <!-- Bootstrap -->
	<link href="{{ url_for('static', filename='css/bootstrap-4.4.1.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
<body>
  	<div class="container-fluid h-100">
  	  <div class="row h-100">
		<div class="col-lg-6 left h-100">&nbsp;
			<div class="content col-xl-7 offset-xl-2">
			  	<h1 class="registration">Are<br>
				You<br>
		    	New?</h1>
				<button type ="button" class="register btn">Register</button>
			</div>
  	    </div>
      </div>
  	    <div class="col-lg-6 right h-100" >&nbsp;
			<div class="content col-xl-7 login col-lg-6 offset-lg-3 offset-xl-4">
			  <h2 >&nbsp;Welcome back!</h2><br>
				<form>
				<p>&nbsp; Username:</p>	
				<input type="text" class="signin">
				<p><br>
				  &nbsp; Password:</p>
				<input type="text" class="signin">
				
					<br><br>
					<p>&nbsp;<input type="checkbox">
				    &nbsp;Keep me logged in.</p>
										
				<button type="submit" class="signinbutton">Submit</button>
				</form>
            </div>
	    </div>
  	    
      </div>
    </div>
<!-- body code goes here -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 	
	<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->	
	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/bootstrap-4.4.1.js') }}"></script>
  </body>
</html>