<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CipherChat</title>
  <link href="{{ url_for('static', filename='css/bootstrap-4.4.1.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-6 left h-100" style="overflow: auto;">&nbsp;
        <div class="content col-xl-7 offset-xl-2">
            {% block left_content %}
            {% endblock %}    
        </div>
      </div>
      <div class="col-lg-6 right h-100">&nbsp;
        <div class="content col-xl-7 login col-lg-6 offset-lg-3 offset-xl-4">
            {% block right_content %}
            {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-4.4.1.js')}}"></script>
</body>
</html>
