{% extends "layout_home.html" %}
{% block head %}
<style>
#elementtofadeL {
  position: relative;
  animation-name: fadeL;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  opacity: 1;
  animation-play-state: paused;
   }
@keyframes fadeL {
  0% {
        opacity: 1;
        left: 0;
      }

      50% {
        opacity: 0;
        left: 100%;
      }

      51% {
        opacity: 0;
        left: -100%
      }

      100% {
        opacity: 1;
        left: 0%;
      }
    }
    /* width */
    ::-webkit-scrollbar {
      width: 20px;

    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px wheat;
      border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgb(223, 223, 223);
      border-radius: 10px;
      opacity: 50%;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #4d4d4d;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script src="{{ url_for('static', filename='js/index.js')}}"></script>
  <script id="left" type="text/x-handlebars-template">
    <h2>&nbsp;Join the community!</h2><br> 
    <form name="Registration" method="POST" id="signup" action="{{ url_for('index') }}" onsubmit="return(validate());">
    <p>&nbsp;Name:</p>	
    <input type="text" name="Name" id ="Name" class="registerinput" required>
    <p>&nbsp;Username:</p>
    <input type="text" name="username" id ="username" class="registerinput" required>
    <p>&nbsp;Gender:</p>
    <select id="gender" name = "gender" class="registerinput">
      <option value="M">Male</option>
      <option value="F">Female</option>
      <option value="O">Others</option>
    </select>
    <p><br>&nbsp;Password:</p>
    <input type="password" name="password" id="password" class="registerinput" required>
    <br><br>
    <button type="submit" class="register btn" id="sub">Register Now</button>
    </form>
  </script>
  <script type="text/javascript">
    data_received = false;
    function request_usernames() {
      if (!data_received) {
        const request = new XMLHttpRequest();
        request.open('POST', '/API/usernames');
        request.onload = () => {
          data = JSON.parse(request.responseText)
          data_received = true;
        }
        request.send();
      }
    }
  </script>
{% endblock %}
{% block left_content %}
<div id="elementtofadeL">
            <h1>Are<br>
              You<br>
              New?</h1>
            <button class="register btn" onclick="vanishL()">Register</button>
          </div>
{% endblock %}

{% block right_content %}
<div id="elementtofadeR">
<h1>Invalid<br>Credentials<br></h1>
<button class="signinbutton" onclick="vanishR()">Try Again!</button>
</div>
{% endblock %}