{% extends "layout_home.html" %}
{% block left_content %}
<h1 style="font-size: 50pt;">Welcome to the community!!</h1><br><br>
<h2 style="font: size 20;pt;color: bisque;" >Registration<span style="font-weight: bold;color: white;"> Successful!</span> Please <span style="font-weight: bold;color: white;"> login.</span></h2>

<!-- Left Content design (Registration_Success) -->
{% endblock %}
{% block right_content %}
<h2>&nbsp;Welcome New User!</h2><br>
<form action="{{ url_for('home') }}" name="Sign In" method="POST">
<p>&nbsp; Username:</p>
<input type="text" class="signin" name="Lusername" id="Lusername">
<p><br>&nbsp; Password:</p>
<input type="password" class="signin" name="Lpassword" id="Lpassword">
<br><br>
<p>&nbsp;<input type="checkbox">&nbsp;Keep me logged in.</p>
<button type="submit" class="signinbutton">Submit</button>
</form>
{% endblock %}